.upload-resume {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index:9;
   cursor: pointer;
    .create-btn{
        width: 100%;
         opacity:0;
        #inputImage{
                width: 100%;
    height: 40px;
    cursor: pointer;
        }
        span{
            display: none;
        }
    }
}

.career-form {
    .form-control {
        border-radius: 10px;
        background: #f5f5f5;
        border: 1px solid black;
        font-size: 18px;
        font-family: 'Geometria';
        padding: 25px;
    }
     ::placeholder {
        color: black;
        opacity: 1;
        /* Firefox */
    }
     :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: black;
    }
     ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: black;
    }
}

.upload-main {
    position: relative;
}
.dateofbirth .form-control,.upload .form-control {
    border-radius: 0;
    border: none;
    background: transparent;
}

.dateofbirth,.upload {
    border-radius: 10px;
    background: #f5f5f5;
    border: 1px solid black;
}
.category-list {
    .form-control {
        height: 50px;
        padding: 0 25px !important;
        color: black;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f5f5f5;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) #f5f5f5 no-repeat 98.5%!important;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) #f5f5f5 no-repeat calc(100% - 10px)!important;
}

.career-btn {
    padding: 14px 35px;
    border-radius: 10px;
    background: black;
    border: none;
    font-size: 18px;
    color: white;
}

.reset-btn {
    background: transparent;
    border: none;
    color: grey;
    padding: 0 20px;
    &:focus{
        outline:none;
    }
}

.career-btn-main {
    margin-top: 25px;
}

.career-heading p {
    font-family: 'Geometria-Medium';
    font-size: 30px;
    ;
}

.personal-info p {
    font-family: 'Geometria-Medium';
    font-size: 24px;
    color: black;
}

.career-description {
    margin: 50px 0 0 0;
}
.dateofbirth .calender-btn{
background: transparent;
border: none;
i{
    font-size: 25px;
}
&:hover,&:focus{
    background: transparent;
    border: none;
    outline: none;
}
}