.upload-resume {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.career-form {
    .form-control {
        border-radius: 10px;
        background: #f5f5f5;
        border: 1px solid black;
        font-size: 18px;
        font-family: 'Geometria';
        padding: 25px;
    }
     ::placeholder {
        color: black;
        opacity: 1;
        /* Firefox */
    }
     :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: black;
    }
     ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: black;
    }
}

.upload-resume .form-group {
    opacity: 0;
}

.upload-main {
    position: relative;
}

.upload-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
}

.category-list {
    .form-control {
        height: 50px;
        padding: 0 25px !important;
        color: black;
    }
    // select {
    //     -webkit-appearance: none;
    //     -moz-appearance: none;
    //     appearance: none;
    //     background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) #fff no-repeat 98.5%!important;
    //     background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) #fff no-repeat calc(100% - 10px)!important;
    // }
}

.career-btn {
    padding: 14px 35px;
    border-radius: 10px;
    background: black;
    border: none;
    font-size: 18px;
    color: white;
}

.reset-btn {
    background: transparent;
    border: none;
    color: grey;
    padding: 0 20px;
}

.career-btn-main {
    margin-top: 25px;
}
.career-heading p{
      font-family: 'Geometria-Medium';
    font-size: 30px;;
}
.personal-info p{
    font-family: 'Geometria-Medium';
    font-size: 24px;
    color: black;
}
.career-description{
    margin:50px 0 0 0;
}