<heading-first>
</heading-first>
<div class="container">
    <div class="career-description text-justify">
        <p>-Our culture at Sicomoro promotes entrepreneurial and results-driven approach while teamwork and intellectual rigor
            are an integral part of one's performance. We strongly believe that people create success stories and understand
            our employees' uniqueness and are committed to building their careers. We encourage our team to display higher
            levels of initiative, hunger for learning, be self driven and taking on additional responsibility.</p>
        <p>As an employer, we offer personal development and a positive working environment – the chance to realize your full
            potential, in a direction that suits your goals, in a business of exceptional size and scope. If you would like
            to come grow with Sicomoro, you may send your resume by filling the adjacent form.</p>
    </div>
    <div class="career-form section-padding">
        <form name="formData" class="form-group">
            <div class="career-heading text-center text-uppercase">
                <p>Lorem Ipsum is simply dummy text </p>
            </div>
            <div class="category-list">
                <div class="form-group">
                    <label for="Grade"></label>
                    <select class="form-control ng-pristine ng-valid ng-empty ng-touched" id="sel1" ng-model="formData.career.jobCategory">
                        <option value="" disabled selected>Job Categories</option>
                        <option value="Investment advisors">Investment advisors</option>
                        <option value="Products and Ideation">Products and Ideation</option>
                        <option value="Back office operations">Back office operations</option>
                        <option value="Legal and Compliance">Legal and Compliance</option>
                        <option value="Finance and Accounts">Finance and Accounts</option>
                        <option value="IT">IT</option>
                        <option value="HR and Administartion">HR and Administartion</option>
                    </select>
                </div>
            </div>
            <div class="personal-info text-center text-uppercase">
                <p>personal details</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <input type="text" ng-model="formData.career.name" class="form-control" id="name" placeholder="Full Name" required name="name">
                        <span class="errormsg" ng-show="formData.name.$touched && formData.name.$invalid">Name is required.</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <input type="email" ng-model="formData.career.email" class="form-control" id="email" placeholder="Email Id" name="email"
                            required>
                        <span class="errormsg" ng-show="formData.email.$touched && formData.email.$invalid">Email Id is required.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <input type="number" name="mobile" ng-model="formData.career.mobile" class="form-control" id="mobile" placeholder="Mobile Number/Phone"
                            required>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <!--<div class="form-group">
                        <input type="text" ng-model="formData.career.dob" class="form-control" id="dob" placeholder="Date Of Birth" name="dob">
                    </div>-->
                    <div class="form-group">
                        <div class="dateofbirth">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="formData.career.dob" is-open="popup1.opened"
                                            datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                            name="dob" placeholder="DD/MM/YY" required/>
                                        <span class="input-group-btn">
            <button type="button" class="btn btn-default calender-btn" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                                    </span>
                                    </div>
                                    <span class="errormsg" ng-show="formData.dob.$touched && formData.dob.$invalid">DOB is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <textarea name="address" ng-model="formData.career.address" id="address" cols="30" rows="10" class="form-control" placeholder="Address"
                            required></textarea>
                    </div>
                    <span class="errormsg" ng-show="formData.address.$touched && formData.address.$invalid">Address is required.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <input type="text" ng-model="formData.career.postCode" class="form-control" id="postCode" placeholder="Post Code" name="postCode">
                    </div>
                    <span class="errormsg" ng-show="formData.postCode.$touched && formData.postCode.$invalid">Post Code is required.</span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <input type="text" ng-model="formData.career.state" class="form-control" id="state" placeholder="State" name="state">
                    </div>
                    <span class="errormsg" ng-show="formData.state.$touched && formData.state.$invalid">State is required.</span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <input type="text" ng-model="formData.career.website" class="form-control" id="website" placeholder="Website" name="website">
                    </div>
                    <span class="errormsg" ng-show="formData.website.$touched && formData.website.$invalid">WebSite is required.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="upload-main">
                            <div class="upload">
                                <div class="input-group">
                                    <input id="resume" type="text" class="form-control" name="resume" placeholder="Upload Your Resume/CV" disabled>
                                    <div class="input-group-btn"><button class="career-btn">Upload</button></div>
                                </div>
                            </div>
                            <upload-image class="upload-resume" ng-model="formData.career.resume"></upload-image>
                        </div>
                    </div>
                </div>
            </div>
            <div class="personal-info text-center text-uppercase">
                <p>availability</p>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="form-group">
                        <input type="text" name="position" ng-model="formData.career.position" class="form-control" id="position" placeholder="what type of position are you seeking?"
                            required>
                    </div>
                    <span class="errormsg" ng-show="formData.position.$touched && formData.position.$invalid">Position is required.</span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <input type="text" ng-model="formData.career.Salary" class="form-control" id="Salary" placeholder="Previous Salary" name="salary">
                    </div>
                    <span class="errormsg" ng-show="formData.Salary.$touched && formData.Salary.$invalid">Salary is required.</span>
                </div>
            </div>
            <div class="career-btn-main text-center">
                <div class="form-group">
                    <button ng-click="reset(formData.career)" class="reset-btn">Reset</button>
                    <button ng-click="submitForm(formData.career)" class="career-btn" ng-disabled="formData.$invalid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>