 @media (max-width: $screen-sm-max) {
     // Tablet
     //scss for common for pages
     .section-padding {
         padding: 25px 50px;
     }
     .flex-reverse {
         flex-direction: column-reverse;
     }
     //end of scss for common for pages
     //scss for mission page
     .mission-top-text {
         padding: 20px 50px 20px 50px;
     }
     //end of scss for mission page
     //scss for team page
     .associate-img {
         .pull-right {
             float: none !important
         }
         img {
             margin: 0 auto;
         }
     }
     .team-main {
         .d-flex {
             flex-wrap: wrap;
         }
         .width-80 {
             flex: auto;
         }
         .width-20 {
             flex: auto;
         }
         .width-50 {
             flex: auto;
         }
         .img-left-padding,
         .img-right-padding {
             padding: 0 0 25px 0;
         }
     }
     .team-padding {
         padding: 25px 20px;
         img {
             margin: 0 auto;
         }
     }
     .associate-padding {
         padding: 0px 0 50px 0;
     }
     .team-member-name {
         text-align: center
     }
     //end of scss for team page
 }