 @media (max-width: $screen-sm-max) {
     // Tablet
     //scss for common for pages
     .section-padding {
         padding: 25px 30px;
     }
     p {
         font-size: 15px;
     }
     .title-main h3 {
         font-size: 60px;
     }
     footer {
         .d-flex {
             flex-direction: column;
         }
         .footer-para {
             text-align: center;
         }
         .footer-menu ul li a {
             padding: 0 10px;
         }
     }
     //end of scss for common for pages
     //scss for mission page
     .mission-top-text {
         padding: 20px 50px 20px 50px;
     }
     .mission-bg h3 {
         font-size: 30px;
     }
     .mission-product-bg {
         .left-title {
             left: -30px;
             font-size: 12px;
         }
     }
     //end of scss for mission page
     //scss for team page
     .team-member-name h3 {
         font-size: 30px;
     }
     .associate-img {
         .pull-right {
             float: none !important
         }
         img {
             margin: 0 auto;
         }
     }
     .team-main {
         .flex-reverse {
             flex-direction: column-reverse;
         }
         .d-flex {
             flex-wrap: wrap;
         }
         .width-80 {
             flex: auto;
         }
         .width-20 {
             flex: auto;
         }
         .width-50 {
             flex: auto;
         }
         .img-left-padding,
         .img-right-padding {
             padding: 0 0 25px 0;
         }
     }
     .team-padding {
         padding: 25px 20px;
         img {
             margin: 0 auto;
         }
     }
     .associate-padding {
         padding: 0px 0 50px 0;
     }
     .team-member-name {
         text-align: center
     }
     .associate-img {
         padding: 25px 0;
     }
     .founder-title{
            left: -45px;
     }
     .section-three .left-title {
        left: -20px;
}
     //end of scss for team page
     //scss for product page
     .product-bg h3 {
         font-size: 30px;
     }
     //end of scss for product page
     //scss for about us page
     .mission-product-bg,.about{
         height: 85vh;
     }
     .about .roots,
     .about .title-three-about {
         font-size: 30px;
     }
     //end of scss for about us page
     //custom tabs
     .custom-tabs {
         ul.nav-tabs {
             li a {
                 font-size: 18px;
                 padding: 10px 5px;
             }
         }
         .custom-tabs-content .title-tab h4 {
             font-size: 32px;
         }
     }
     //home
     .home .section-one .section-one-content{
         bottom: 350px;
     }
     .home {
         .left-title {
             left: -35px;
         }
         .section-three {
             .left-title {
                 left: -10px;
             }
         }
         .section-four {
             .left-title {
                 left: -50px;
             }
         }
     }
     .min-full-height {
         min-height: 50vh;
     }
     #particles-js {
         min-height: 100vh;
     }
 }