        <div class="bg-black mission-product-bg">
            <div class="container">
                <div class="left-title color-white">
                    Mission &amp; Vision
                </div>
                <div class="section-padding">
                    <div class="section-two-content color-white">
                        <p> For us, creating value means nurturing client relationships. We believe a collaborative partnership
                            is the key driver of success. Our mission is to cultivate everlasting, fulfilling associations
                            with our clients, rooted in the values of synergy, integrity, diversity, humility and sustainability.
                        </p>
                    </div>
                    <div class="custom-tabs">
                        <uib-tabset>
                            <uib-tab index="0" heading="CLIENT FOCUS">
                                <div class="custom-tabs-content" text-uppercase>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8">
                                            <div class="title-tab">
                                                <h4 class="text-right">CLIENT FOCUS</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="img-holder">
                                                <figure>
                                                    <img src="img/mission-vission/Client-Focus.png" class="img-responsive" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-4 col-md-8 col-sm-offset-3 col-sm-9">
                                            <div class="text-justify pad-cont">
                                                <p>
                                                    Our Clients are important to us and their opinions and requirements guide our actions. We promote collaboration and maximum
                                                    client involvement and ensure that our services are individualised and
                                                    client specific.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="1" heading="INTEGRITY" text-uppercase>
                                <div class="custom-tabs-content">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8">
                                            <div class="title-tab">
                                                <h4 class="text-right">INTEGRITY</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="img-holder">
                                                <figure>
                                                    <img src="img/mission-vission/Integrity.png" class="img-responsive" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-4 col-md-8 col-sm-offset-3 col-sm-9">
                                            <div class="text-justify pad-cont">
                                                <p>
                                                    Integrity guides our behaviour. We stick to our commitments and remain true to ourselves and to our clients.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="2" heading="DIVERSITY">
                             <div class="custom-tabs-content" text-uppercase>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8">
                                            <div class="title-tab">
                                                <h4 class="text-right">DIVERSITY</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="img-holder">
                                                <figure>
                                                    <img src="img/mission-vission/Diversity.png" class="img-responsive" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-4 col-md-8 col-sm-offset-3 col-sm-9">
                                            <div class="text-justify pad-cont">
                                                <p>
                                                    Our associates are our greatest assets. Every individual is unique and the diversity of our team enables us to create innovative solutions and address various points of views leading to effective decision making. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="3" heading="HUMILITY">
                              <div class="custom-tabs-content" text-uppercase>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8">
                                            <div class="title-tab">
                                                <h4 class="text-right">HUMILITY</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="img-holder">
                                                <figure>
                                                    <img src="img/mission-vission/Humanity.png" class="img-responsive" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-4 col-md-8 col-sm-offset-3 col-sm-9">
                                            <div class="text-justify pad-cont">
                                                <p>
                                                   Humility inculcates the habit of listening. Listening to our client’s needs helps us put in process their goals and aspirations.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           
                            </uib-tab>
                            <uib-tab index="4" heading="Result Orientation">
                                  <div class="custom-tabs-content">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8">
                                            <div class="title-tab">
                                                <h4 class="text-right text-uppercase">Result Orientation</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="img-holder">
                                                <figure>
                                                    <img src="img/mission-vission/Result-Orianted.png" class="img-responsive" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-4 col-md-8 col-sm-offset-3 col-sm-9">
                                            <div class="text-justify pad-cont">
                                                <p>
                                                  At Sicomoro, we propagate persistence, innovation and ambition without losing sight of what we have set out to achieve. Client delivery, in terms of expectations and results, is the only way we believe in measuring our results. Client excellence is our driving force and our relationships determine our success.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           
                           
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>