<div class="container">
    <section>
        <div class="text-justify">
            <p>Our mission is to empower our clients to take informed decisions based on our expertise and the underlying values:
            </p>
        </div>
        <div class="d-flex">
            <div class="width-800">
                <div class="text-justify">
                    <h3>Client Focus</h3>
                    <p>Our Clients are important to us and their opinions and requirements guide our actions. We promote collaboration
                        and maximum client involvement and ensure that our services are individualised and client specific.
                    </p>
                </div>
            </div>
            <div class="width-200">
                <img src="img/mission-vission/mission_vision_circle.png" class="img-responsive">
            </div>
        </div>
        <div class="d-flex">
            <div class="width-200">
                <img src="img/mission-vission/mission_vision_circle.png" class="img-responsive">
            </div>
            <div class="width-800">
                <div class="text-justify">
                    <h3>Integrity</h3>
                    <p>Integrity guides our behaviour. We stick to our commitments and remain true to ourselves and to our clients
                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="width-800">
                <div class="text-justify">
                    <h3>Humility</h3>
                    <p>Humility inculcates the habit of listening. Listening to our client’s needs helps us put in process their
                        goals and aspirations.
                    </p>
                </div>
            </div>
            <div class="width-200">
                <img src="img/mission-vission/mission_vision_circle.png" class="img-responsive">
            </div>
        </div>
        <div class="d-flex">
            <div class="width-200">
                <img src="img/mission-vission/mission_vision_circle.png" class="img-responsive">
            </div>
            <div class="width-800">
                <div class="text-justify">
                    <h3>Diversity</h3>
                    <p>Our associates are our greatest assets. Every individual is unique and the diversity of our team enables
                        us to create innovative solutions and address various points of views leading to effective decision
                        making.
                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="width-800">
                <div class="text-justify">
                    <h3>Result Orientation</h3>
                    <p>At Sicomoro, we propagate persistence, innovation and ambition without losing sight of what we have set
                        out to achieve. Client delivery, in terms of expectations and results, is the only way we believe
                        in measuring our results. Client excellence is our driving force and our relationships determine
                        our success.
                    </p>
                </div>
            </div>
            <div class="width-200">
                <img src="img/mission-vission/mission_vision_circle.png" class="img-responsive">
            </div>
        </div>
    </section>
</div>