<div class="container">
    <section>
        <div class="text-justify">
            <p>The scope of our offerings transcends the conventional definition of 'wealth management.' We provide personalized,
                need-based services to ensure the sustained elevation and protection of our clients' business and family
                office. Our solutions are product agnostic across the board and defined exclus ively by the unique goals
                of each client. Through our open platforms and vast network of providers, we are able to present highly flexible,adaptable
                solutions and customized pricing models. We educate our clients and empower them to make informed, discerning
                choices.
            </p>
        </div>
        <div class="d-flex">
            <div class="width-800">
                <div class="text-justify">
                    <h3>INVESTMENT FOCUS</h3>
                    <p>We help you optimize investment opportunities and steer your course through dynamic market cycles. Our
                        investment related advisory services extend to Mutual Funds, PMS, Direct Equity Bond, Structured
                        Products, Offshore Investments , Private Investments Opportunity,ETF­ based Strategy and Retirement
                        Planning. Besides traditional investments,we also advise clients on Alternative Investments like
                        Real Estate,Commodities and Angel Funding Opportunity.
                    </p>
                </div>
            </div>
            <div class="width-200">
                <img src="img/insurance.png" class="img-responsive">
            </div>
        </div>
        <div class="d-flex">
            <div class="width-200">
                <img src="img/insurance.png" class="img-responsive">
            </div>
            <div class="width-800">
                <div class="text-justify">
                    <h3>FAMILY FOCUS</h3>
                    <p>The security of your legacy is our responsibility. Trust us with Strategic Planning and Tactical Execution
                        of Asset Allocation, Tax Advisory on Investments, Quarterly Assessment of Tax Incidence and planning
                        thereof. We also frame the Investment Policy and Yearly Review and evaluate the performance of advisors.
                        We assist you on Liquidity Planning for Major Financial Events as well as on Inheritance Planning,
                        including Preparation of Wills & Trust.
                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="width-800">
                <div class="text-justify">
                    <h3>BUSINESS FOCUS</h3>
                    <p>We transform your business goals into reality. The breadth of our business related solutions include
                        Tax Advisory, Fund Raising specializing on PE I VC Funding, Strategic and Operational Management
                        Consulting, Regulatory Framework and Entity Structures and Foreign Business Set Up. We specialize
                        in Healthcare, and also render Strategic Support on Banking, Finance, Operations, Taxation, Legal
                        and HR for businesses. In the unlikely case that you find our services lacking, we offer a refund
                        policy within a stipulated period.
                    </p>
                </div>
            </div>
            <div class="width-200">
                <img src="img/insurance.png" class="img-responsive">
            </div>
        </div>
    </section>
</div>