<div class="container">
    <section>
        <div class="d-flex">
            <div class="width-800">
                <div class="text-justify">
                    <h3>PRADEEP DOKANIA - Partner</h3>
                    <p>Mr. Pradeep Dokania has over 29 years of experience in the Indian financial industry. An alumnus of the
                        Indian Institute of Management - Ahmedabad, Mr. Dokania joined DSP Merrill Lynch Limited in 1986
                        as an investment banker, and on to head the Investment Banking, Fixed Income and Private Clients
                        business functions.
                    </p>
                    <p>He has been the Chairman of India Global Wealth Management at Merrill Lynch and was part of the team
                        that set up the India Wealth Management business at Merrill Lynch. </p>
                    <p>As an Executive Committee and Board member, he has been an integral part of the evolution and exciting
                        growth of the financial markets in India. </p>
                </div>
            </div>
            <div class="width-200">
                <img src="img/insurance.png" class="img-responsive">
            </div>
        </div>
        <div class="d-flex">
            <div class="width-200">
                <img src="img/insurance.png" class="img-responsive">
            </div>
            <div class="width-800">
                <div class="text-justify">
                    <h3>AMIT KHANDELWAL - Partner</h3>
                    <p>Mr. Amit Khandelwal is a Chartered Accountant with 23 years of experience in the banking industry. Through
                        the course of his career, he has been associated with prestigious brands such as DSP Merrill Lynch,
                        Credit Suisse and Kotak Bank, serving as Relationship Manager, Team Leader, National Sales Head,
                        and finally emerging as one of the most respected private bankers in the industry.
                    </p>
                    <p>He has not only managed prolific client portfolios in India, but has also successfully handled NRI accounts
                        across the Middle East, Africa and Europe/UK. Amit brings to the table his rich experience in Market
                        Research and Risk Management, and astute understanding of Fixed Income & Equity Operations, New Business
                        Initiatives and Wealth Management. </p>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="width-800">
                <div class="text-justify">
                    <h3>RAKESH BHATIA - Partner</h3>
                    <p>Mr. Rakesh I Bhatia is a Chartered Accountant and a Company Secretary with 24 years of experience in
                        Financial Services, IT and Consumer facing industries. He has worked with various Reputed Indian
                        Corporates and Multinational Companies in India and abroad. Before co-founding Sicomoro Advisors,
                        he worked with Tata Capital as Business Head of the Rural Business. He has also held pivotal roles
                        with American Express, IDBI, i-flex Solutions (Oracle), Tupperware and Yamaha.
                    </p>
                    <p>He brings with him a rich experience in Financial Services, Risk Management, IT Solutions and Process
                        Excellence. </p>
                </div>
            </div>
            <div class="width-200">
                <img src="img/insurance.png" class="img-responsive">
            </div>
        </div>
        <div class="d-flex">
            <div class="width-200">
                <img src="img/insurance.png" class="img-responsive">
            </div>
            <div class="width-800">
                <div class="text-justify">
                    <h3>NILESH GANJWALA - Partner </h3>
                    <p>Mr. Nilesh Ganjwala, a Chartered Accountant and veteran with over 30 years of industry experience spearheads
                        Innergize, a renowned strategy and management consultancy. Through the years, Mr. Ganjwala has been
                        professionally associated with several leading players across sectors such as Banking, Finance and
                        Investments, Biotechnology, Healthcare, Engineering, Commodities, Retail, Infrastructure and Telecom.
                    </p>
                    <p>His wealth of experience in Corporate and Capital Structuring, Valuation of Businesses and Brands, Business
                        and Financial Due Diligence, Legal Implications, Intellectual Property and other related matters,
                        stands testimony to his in-depth knowledge and accomplishment. </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="text-center">
                <h3>CORE TEAM </h3>
            </div>
            <div class="col-md-6">
                <div class="">
                    <div class="">
                        <h3>SHREENIVAS HEGDE - Core Team </h3>
                    </div>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6">
                   <div class="">
                    <div class="">
                        <h3>NEHA DAVE - Core Team </h3>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
    </section>
</div>