/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Bootstrap Variables Goes Here */

@import "other/font-fix";
@font-face {
    font-family: 'Geometria-ExtraBold';
    src: url("../fonts/Geometria-ExtraBold.otf");
}

@font-face {
    font-family: 'Nunito';
    src: url("../fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: 'Nunito-SemiBold';
    src: url("../fonts/Nunito-SemiBold.ttf");
}

body {
    padding-top: 70px;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.nav-up {
    transform: translateY(-100%);
}

//common classes used
.d-flex {
    display: flex;
}

p {
    font-family: 'Nunito';
    font-size: 18px;
    color: white;
}

.width-20 {
    flex: 0.2;
}

.width-80 {
    flex: 0.8;
}

.align-item-center {
    align-items: center;
}

.section-padding {
    padding: 0px 80px;
}

//end of common classes
//scss for directive
.heading-bg {
    background: url("../img/title-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 299px;
    display: table;
    width: 100%;
}

.title-main {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Geometria-ExtraBold';
    h1 {
        font-size: 100px;
        opacity: 0.5;
    }
}

.img-auto {
    margin: 0 auto;
}

//end of scss for directive