/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$color-white:#fff;
$color-brown:#312418;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Bootstrap Variables Goes Here */

@import "other/font-fix";
@font-face {
    font-family: 'Geometria-ExtraBold';
    src: url("../fonts/Geometria-ExtraBold.otf");
}

@font-face {
    font-family: 'Geometria-Heavy';
    src: url("../fonts/Geometria-Heavy.otf");
}

@font-face {
    font-family: 'Geometria-Bold';
    src: url("../fonts/Geometria-Bold.otf");
}

@font-face {
    font-family: 'Geometria';
    src: url("../fonts/Geometria.otf");
}

@font-face {
    font-family: 'Geometria-Heavy';
    src: url("../fonts/Geometria-Heavy.otf");
}

@font-face {
    font-family: 'Geometria-Medium';
    src: url("../fonts/Geometria-Medium.otf");
}

@font-face {
    font-family: 'Nunito';
    src: url("../fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: 'Nunito-SemiBold';
    src: url("../fonts/Nunito-SemiBold.ttf");
}

body {
    font-family: 'Nunito';
    font-size: 18px;
    padding-top: 50px;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

//menu 
.navbar-default {
    background-color: black;
    border-color: transparent;
}

.navbar-brand {
    padding: 10px 15px;
}

nav li:hover .dropdown-menu {
    display: block;
}

.hamburger {
    margin: 16px 0;
    position: relative;
    cursor: pointer;
    @include transition (all ease 300ms);
    font-family: Nunito-SemiBold;
    &:hover {
        opacity: 0.8;
    }
    .menu-title {
        padding-right: 22px;
        font-size: 22px;
        line-height: 0.6;
    }
    .menu-line {
        position: absolute;
        right: 0;
        top: 0;
        span {
            @include size(18px,
            2px);
            margin-bottom: 4px;
            display: block;
            border-radius: 5px;
            background-color: $color-white;
            @include transition (all ease 300ms);
            &.third-line {
                width: 10px;
                float: right;
            }
            &.firstbar {
                @include transform(translate(0px,
                6px)rotate(50deg));
            }
            &.secondbar {
                @include transform(translate(0px,
                0px) rotate(-50deg));
            }
            &.thirdbar {
                opacity: 0;
            }
        }
    }
}

.sidemenu {
    background: #000;
    padding: 50px 0;
    position: fixed;
    top: 0;
    width: 100%;
    @include transition (all ease 300ms);
    @include transform (translateY(-100%));
    z-index: 5;
    ul li a {
        color: $color-white;
        font-family: Nunito-SemiBold;
        padding: 15px;
        display: block;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:hover {
            color: darken($color-white, 20%);
            text-decoration: none;
        }
    }
    &.menu-in {
        @include transform (translateY(0));
    }
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    @include transition(all ease 300ms);
}

//footer
footer {
    font-size: 16px;
    background-color: #000;
    padding: 25px 0;
    .footer-menu ul {
        padding: 0;
        margin: 0;
        li {
            @extend .inline-block;
            a {
                padding: 0 12px;
            }
        }
    }
    a {
        color: $color-white;
        @include transition (all ease 300ms);
        &:hover {
            text-decoration: none;
            color: darken($color-white, 20%);
        }
    }
    .fnt-12 {
        font-size: 12px;
    }
}

.flex-foot-1 {
    flex: 1;
}

.flex-foot-2 {
    flex: 0.5;
}

.scrolltotop {
    background: white none repeat scroll 0 0;
    border: 1px solid black;
    bottom: 20px;
    color: #fff;
    display: none;
    font-size: 20px;
    height: 40px;
    padding-top: 5px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 99;
    .fa {
        color: black;
    }
}

// .scrolltotop:hover {
//     background: #1a1a1a;
//     border: 1px solid;
//     text-decoration: none;
// }
//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

//common classes used
.inline-block {
    display: inline-block;
}

p {
    font-family: 'Nunito';
    font-size: 18px;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.color-white {
    color: $color-white;
}

a.color-white {
    color: $color-white;
    &:hover {
        color: darken($color-white, 20%);
    }
}

a.color-black {
    color: #000;
    &:hover {
        color: lighten(#000, 20%);
    }
}

//.flex
.d-flex {
    display: flex;
}

.width-20 {
    flex: 0.3;
}

.width-80 {
    flex: 0.8;
}

.width-50 {
    flex: 0.5;
}

.align-item-center {
    align-items: center;
}

.section-padding {
    padding: 25px 150px;
}

.text-align-last {
    text-align-last: right;
}

.img-auto {
    margin: 0 auto;
}

.margin-clear {
    margin: 0;
}

.mb-20 {
    margin-bottom: 20px;
}

.pointer-click {
    cursor: pointer;
}

.modal-content {
    margin-top: 150px;
}

//end of common classes
//header backdrop
.backdrop {
    @include position(fixed,
    0 0 0 0);
    background-color: #000;
    opacity: 0;
    z-index: -1028;
    @include transition(opacity .15s linear);
}

.backdropEnable {
    @include position(fixed,
    0 0 0 0);
    background-color: #000;
    opacity: .5;
    z-index: 1028;
}

//end of header
//scss for directive
.heading-bg {
    background: url("../img/title-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 299px;
    display: table;
    width: 100%;
}

.title-main {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Geometria-Heavy';
    h3 {
        font-size: 80px;
        color: #3a3a3a;
    }
}

//min-height 100vh
.min-full-height {
    height: calc(100vh - 50px);
}

//relative
.post-rel {
    position: relative;
}

//left title
.left-title {
    position: absolute;
    @include transform(rotate(-90deg));
    top: 50%;
    left: 20px;
    font-family: Nunito-SemiBold;
}
//end of scss for directive
//common for mission-vision and product page
.img-right-padding {
    padding: 0px 0px 0px 25px;
}

.img-left-padding {
    padding: 0px 25px 0px 0px
}

.strike-anchor {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Nunito';
    &.color-white {
        &:before,
        &:after {
            background: $color-white;
        }
    }
    &.color-black {
        &:before,
        &:after {
            background: #000;
        }
    }
    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        top: 50%;
        margin-top: -0.5px;
        @include transition (all ease 300ms);
    }
    &:before {
        left: -1.5px;
        width: 105%;
        @include transition(width 0.5s cubic-bezier(0.22,
        0.61,
        0.36,
        1) all ease 300ms);
    }
    &:after {
        right: 2.5px;
        @include transition(width 0.8s cubic-bezier(0.22,
        0.61,
        0.36,
        1));
    }
    &:hover {
        text-decoration: none;
        color: darken($color-white, 20%);
    }
    &:hover:before {
        width: 0;
        @include transition(width 0.5s cubic-bezier(0.22,
        0.61,
        0.36,
        1));
    }
    &:hover:after {
        background: transparent;
        width: 100%;
        @include transition(all ease 300ms);
    }
}

//end of common for mission-vision and product page
//bg brown
// about @page
.bg-brown {
    background: $color-brown;
}

//tabs
.custom-tabs {
    padding: 20px 0;
    ul.nav-tabs {
        border-width: 0;
        li {
            a {
                color: #fff;
                text-transform: uppercase;
                font-size: 20px;
                padding: 10px 15px;
            }
        }
    }
    
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li>a:hover {
        background: transparent;
        color: #fff;
        border-color: transparent transparent #fff;
    }
    .custom-tabs-content {
        color: #fff;
        padding: 20px 0;
        .title-tab {
            position: absolute;
            right: 30px;
            top: 130px;
            h4 {
                font-family: 'Geometria-ExtraBold';
                font-size: 42px;
                opacity: 0.3;
            }
        }
        .pad-cont {
            padding: 20px 10px;
        }
    }
}
.associate-name {
    h3 {
        font-family: 'Geometria-ExtraBold';
        color: black;
    }
}

.relate {
    position: relative;
}
.logo-home {
    width: 500px;
    margin: 0 auto;
    padding: 50px 0;
}


.logoNone {
    display: none !important;
}

//new scss common for mission and product page
.mission-product-bg {
    background: url('../img/home/bg_client.png') no-repeat;
    background-size: cover;
}
.spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    opacity: 1;
}