.team-padding {
    padding: 25px 50px;
}

.team-main {
    p {
        font-weight: 600;
           font-family: 'Nunito';
    }
}

.text-associate h3 {
    font-size: 32px;
     font-family: 'Geometria-Medium';
}

.team-member-name {
    h3 {
    font-size: 38px;
    text-transform: uppercase;
    font-family: 'Geometria-ExtraBold';
    margin: 0;
    color: black;
    }
    p{
        margin: 0 0 20px;
    }
}