.team-padding {
    padding: 25px 50px;
}

.team-main {
    p {
        font-weight: 600;
    }
}

.text-associate h3 {
    font-size: 32px;
    font-family: 'Geometria-ExtraBold';
    font-weight: 600
}

.team-member-name {
    h3 {
        font-size: 40px;
        text-transform: uppercase;
        font-family: 'Geometria-ExtraBold';
    }
}