<div class="bg-white section-three">
    <div class="container">
        <div class="left-title color-black">
            The Team
        </div>
        <div class="section-three-content">
            <div class=" section-padding">
                <p> Our team comprises of diverse individuals united by the common goal of maximizing value creation and sustainable
                    competitive advantage for clients.
                </p>
                <p class="bold">We transform your goals into reality. </p>
            </div>
            <div class="home-team relate section-padding">
                <div class="row">
                    <div class="founder-title color-black">
                        The Founder
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="img-team">
                            <figure>
                                <img src="img/team/Pradeep-Dokania.png" class="img-responsive" alt="Pradeep Dokania">
                                <fig-caption>
                                    <div class="team-name">
                                        Pradeep Dokania
                                        <div class="team-designation">
                                            -Chairman & Founder Director
                                        </div>
                                        <a ng-click="teamOpen('Pradeep');" target="blank" class="strike-anchor color-black">Read More</a>
                                    </div>
                                </fig-caption>
                                </img>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="img-team">
                            <figure><img src="img/team/Amit-Khandelwal.png" class="img-responsive" alt="Amit Khandelwal">
                                <fig-caption>
                                    <div class="team-name">
                                        Amit Khandelwal
                                        <div class="team-designation founder-bottom">
                                            -Founder Director
                                        </div>
                                        <a ng-click="teamOpen('Amit');" target="blank" class="strike-anchor color-black">Read More</a>
                                    </div>
                                </fig-caption>
                                </img>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="img-team">
                            <figure><img src="img/team/Rakesh-Bhatia.png" class="img-responsive" alt="Rakesh Bhatia">
                                <fig-caption>
                                    <div class="team-name">
                                        Rakesh Bhatia
                                        <div class="team-designation founder-bottom">
                                            -Founder Director
                                        </div>
                                        <a ng-click="teamOpen('Rakesh');" target="blank" class="strike-anchor color-black">Read More</a>
                                    </div>
                                </fig-caption>
                                </img>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="img-team">
                            <figure><img src="img/team/Nilesh-Ganjwala.png" class="img-responsive" alt="Nilesh Ganjwala">
                                <fig-caption>
                                    <div class="team-name ">
                                        Nilesh Ganjwala
                                        <div class="team-designation founder-bottom">
                                            -Founder Director
                                        </div>
                                        <a ng-click="teamOpen('Nilesh');" target="blank" class="strike-anchor color-black">Read More</a>
                                    </div>
                                </fig-caption>
                                </img>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-team relate section-padding">
                <div class="row">
                    <div class="founder-title color-black">
                        Our Associates
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="img-team ">
                            <div class="">
                                <img src="img/team/Shreenivas-Hegde.png" class="img-responsive doneLoading">
                            </div>
                            <div class="team-name">
                                Shreenivas Hegde
                                <div class="team-designation">
                                    - Chief Investment Officer
                                </div>
                                <a ng-click="teamOpen('shreenivas');" target="blank" class="strike-anchor color-black">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="img-team ">
                            <div class="">
                                <img src="img/team/Neha-Dave.png" class="img-responsive doneLoading">
                            </div>
                            <div class="clearfix"></div>
                             <div class="team-name">
                                Neha Dave
                                <div class="team-designation">
                                   - Advisor
                                </div>
                                 <a ng-click="teamOpen('neha');" target="blank" class="strike-anchor color-black">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="img-team ">
                            <div class="text-center">
                                <img src="img/team/Radhika-Ringshia.png" class="img-responsive img-auto doneLoading">
                            </div>
                              <div class="team-name">
                               Radhika Ringshia
                                <div class="team-designation">
                                  - Analyst
                                </div>
                                  <a ng-click="teamOpen('radhika');" target="blank" class="strike-anchor color-black">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>