<heading-first>
</heading-first>
<div class="team-bg">
    <div class="container">
        <div class="team-main">
            <section>
                <div class="text-justify team-padding">
                    <p>Our Team of Leaders is an enthusiastic, confident and focussed set of Individuals working towards the
                        benefit of the clients they represent. Their varied experience enables Sicomoro to cultivate everlasting
                        and fulfilling associations with our clients.
                    </p>
                </div>
                <div class="d-flex team-padding flex-reverse">
                    <div class="width-80">
                        <div class="text-justify">
                            <div class="team-member-name">
                                <h3>Pradeep Dokania
                                </h3>
                                <p>-Partner</p>
                            </div>
                            <p>Mr. Pradeep Dokania has over 29 years of experience in the Indian financial industry.
                            </p>
                            <div class="text-justify">
                                <p>An alumnus of the Indian Institute of Management – Ahmedabad, Mr. Dokania joined DSP Merrill
                                    Lynch Limited in 1986 as an investment banker, and on to head the Investment Banking,
                                    Fixed Income and Private Clients business functions. </p>
                                <p>He has been the Chairman of India Global Wealth Management at Merrill Lynch and was part
                                    of the team that set up the India Wealth Management business at Merrill Lynch.</p>
                                <p>As an Executive Committee and Board member, he has been an integral part of the evolution
                                    and exciting growth of the financial markets in India.</p>
                            </div>
                        </div>
                    </div>
                    <div class="width-50 img-right-padding">
                        <img src="img/team/Pradeep-Dokania.png" class="img-responsive">
                    </div>
                </div>
                <div class="d-flex team-padding">
                    <div class="width-50 img-left-padding">
                        <img src="img/team/Amit-Khandelwal.png" class="img-responsive">
                    </div>
                    <div class="width-80">
                        <div class="text-justify">
                            <div class="team-member-name">
                                <h3>AMIT KHANDELWAL </h3>
                                <p>- Partner</p>
                            </div>
                            <p>Mr. Amit Khandelwal is a Chartered Accountant with 23 years of experience in the banking industry.
                                Through the course of his career, he has been associated with prestigious brands such as
                                DSP Merrill Lynch, Credit Suisse and Kotak Bank, serving as Relationship Manager, Team Leader,
                                National Sales Head, and finally emerging as one of the most respected private bankers in
                                the industry.
                            </p>
                            <p>He has not only managed prolific client portfolios in India, but has also successfully handled
                                NRI accounts across the Middle East, Africa and Europe/UK. Amit brings to the table his rich
                                experience in Market Research and Risk Management, and astute understanding of Fixed Income
                                & Equity Operations, New Business Initiatives and Wealth Management.</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex team-padding flex-reverse">
                    <div class="width-80">
                        <div class="text-justify">
                            <div class="team-member-name">
                                <h3>RAKESH BHATIA</h3>
                                <p>- Partner</p>
                            </div>
                            <p>Mr. Rakesh J Bhatia is a Chartered Accountant & Company Secretary with 24 years of experience
                                in Financial Services, IT and Consumer facing industries. He has worked with various Reputed
                                Indian Corporate and MNC in India and abroad. Before co-founding Sicomoro he worked with
                                Tata Capital as Business Head Rural Business. Before Joining Tata Capital in 2007, he has
                                worked with American Express, IDBI, i-flex Solutions (Oracle), Tupperware & Yamaha.
                            </p>
                            <p>He brings with him rich experience in Financial Services, Risk Management, IT Solutions and Process
                                Excellence.
                            </p>
                        </div>
                    </div>
                    <div class="width-50 img-right-padding">
                        <img src="img/team/Rakesh-Bhatia.png" class="img-responsive">
                    </div>
                </div>
                <div class="d-flex team-padding">
                    <div class="width-50 img-left-padding">
                        <img src="img/team/Nilesh-Ganjwala.png" class="img-responsive">
                    </div>
                    <div class="width-80">
                        <div class="text-justify">
                            <div class="team-member-name">
                                <h3>NILESH GANJWALA </h3>
                                <p>- Partner</p>
                            </div>
                            <p>Mr. Nilesh Ganjwala, a Chartered Accountant and veteran with over 30 years of industry experience
                                spearheads Innergize, a renowned strategy and management consultancy. Through the years,
                                Mr. Ganjwala has been professionally associated with several leading players across sectors
                                such as Banking, Finance and Investments, Biotechnology, Healthcare, Engineering, Commodities,
                                Retail, Infrastructure and Telecom.
                            </p>
                            <p>His wealth of experience in Corporate and Capital Structuring, Valuation of Businesses and Brands,
                                Business and Financial Due Diligence, Legal Implications, Intellectual Property and other
                                related matters, stands testimony to his in-depth knowledge and accomplishment.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="team-padding">
                        <div class="text-center text-uppercase text-associate">
                            <h3>Our Associates</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="associate-img">
                                <div class="">
                                    <img src="img/team/Shreenivas-Hegde.png" class="img-responsive">
                                </div>
                                <div class="associate-name text-center">
                                    <h3>SHREENIVAS HEGDE </h3>
                                    <p>- Chief Investment Officer </p>
                                </div>
                                <div class="text-justify">
                                    <p>Mr. Shreenivas Hegde brings with him 18 years of insightful experience in Private Banking
                                        Investment functions, acquired through his close-knit association with large banking
                                        firms, both local and global.
                                    </p>
                                    <p>In his last role as Investment Strategist at HSBC Private Banking, he managed the individual
                                        portfolio allocations of some of the firm’s largest clients, and created and managed
                                        model portfolios across investor categories, which consistently outperformed benchmarks.</p>
                                    <p>His involvement with the credit, treasury and equity teams within the banking sector
                                        has lent to his holistic, multi-dimensional perspective of the financial market.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="associate-img">
                                <div class="pull-right">
                                    <img src="img/team/Neha-Dave.png" class="img-responsive">
                                </div>
                                <div class="clearfix"></div>
                                <div class="associate-name text-center">
                                    <h3>NEHA DAVE </h3>
                                    <p>- Advisor </p>
                                </div>
                                <div class="text-justify">
                                    <p>With more than 11 years of experience in the financial markets, Neha Dave holds a Masters
                                        in Management Studies (MMS, Finance) from Mumbai University and is also a CFA charter
                                        holder from the CFA Institute, USA. A large part of her career was spent in ING Investment
                                        Management where she was a part of fund management team conducting fundamental equity
                                        research and recommending stocks for ING’s different funds. In her last assignment
                                        with Credit Suisse’s international wealth management division, she was involved in
                                        identifying and studying major trends in the global markets to provide investment
                                        insights for private banking clients</p>
                                    <p>Neha has strong understanding of various asset classes and products, expertise in financial
                                        sector (banks and NBFCs) investing with special interest in macroeconomics and in
                                        identifying major themes used in portfolio construction and recommendations. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="associate-padding">
                            <div class="text-center">
                                <img src="img/team/Radhika-Ringshia.png" class="img-responsive img-auto">
                            </div>
                            <div class="associate-name text-center">
                                <h3>RADHIKA RINGSHIA </h3>
                                <p>- Analyst</p>
                            </div>
                            <p class="text-justify">Radhika Ringshia has recently completed her Bachelor in Business Administration from the Kingston
                                Business School, London. Prior to her graduation she has interned and worked at some prestigious
                                brands such as McGill Wealth Management (associate partner practice of St. James’s Place
                                Wealth Management), KPMG, Kotak Mahindra Bank and Electronics Bazaar. Having just started
                                her professional career, she intends to gain work experience and at the same time finish
                                her further studies.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>