<footer ng-controller="footerCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="footer-menu text-center clearfix">
                    <div ng-include="template.menu" class="template menu"></div>
                </div>
                <div class="text-center fnt-12 color-white">
                    Copyright &copy; {{template.year}} <a ui-sref="home">SICOMORO</a>
                </div>
            </div>
        </div>
    </div>
    	<div class="">
		<a class="scrolltotop" style="bottom: 20px; display: inline;" ng-click="scrollTop()"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a>
		</div>
</footer>