<header ng-controller="headerCtrl">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="hamburger pointer pull-right" ng-click="getnav();">
                <div class="color-white menu-title">Menu</div>
                <div class="menu-line">
                    <span class="icon-bar box-shadow {{onebar}}"></span>
                    <span class="icon-bar box-shadow {{secondbar}}"></span>
                    <span class="icon-bar box-shadow third-line {{thirdbar}}"></span>
                </div>
            </div>
            <div class="navbar-header">
                </button>
                <a class="navbar-brand" ui-sref="home">
                    <img src="img/logo.png" alt="logo" height="32">
                </a>
            </div>
        </div>
    </nav>
    <div class="sidemenu {{getslide}}">
        <div class=" navbar-collapse">
            <div ng-include="template.menu" class="template menu"></div>
        </div>
    </div>
</header>