<header ng-controller="headerCtrl">
    <nav class="navbar navbar-default navbar-fixed-top navbar-color-change">
        <div class="container">
            <div class="hamburger pointer pull-right" ng-click="getnav();">
                <div class="color-white menu-title">Menu</div>
                <div class="menu-line">
                    <span class="icon-bar box-shadow {{onebar}}"></span>
                    <span class="icon-bar box-shadow {{secondbar}}"></span>
                    <span class="icon-bar box-shadow third-line {{thirdbar}}"></span>
                </div>
            </div>
        
            <div class="navbar-header"  ng-if="logoHome!='home'">
                <a class="navbar-brand" ui-sref="home">
                    <img src="img/logo.png" class="main-logo"  alt="logo" height="32">
                </a>
            </div>
             <div class="navbar-header" ng-if="logoHome=='home'">
                <a class="navbar-brand mobi-logo" ui-sref="home">
                    <img src="img/logo-home.png" class="main-logo"  alt="logo" height="50">
                </a>
            </div>
        </div>
    </nav>
    <!--<div class="backdrop backdropEnable" ng-class="{'backdropEnable':isBackdropActive}" ng-click="closeSideNav()"></div>-->
    <div class="sidemenu {{getslide}}">
        <div class=" navbar-collapse">
            <div ng-include="template.menu" class="template menu"></div>
        </div>
    </div>
</header>