.product-bg {
    background-color: #94856e;
    border-bottom: 2px solid #a99d8b;
    h3 {
        font-size: 40px;
        text-transform: uppercase;
        font-family: 'Geometria-ExtraBold';
    }
    p {
        font-weight: bold;
    }
}

//scss for product modal
.product-modal-bg {
    background: url("../img/modalbg1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    p {
        font-size: 18px;
        margin: 0;
        padding: 30px 30px 50px 30px;
        color: white;
    }
}

.product-madal {
    position: relative;
    .close-modal {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 0px;
        right: 11px;
        cursor: pointer;
    }
}