<heading>
</heading>
<div class="container">
    <section>
        <div class="text-justify">
            <!-- <p>The scope of our offerings transcends the conventional definition of 'wealth management.' We provide personalized,
                need-based services to ensure the sustained elevation and protection of our clients' business and family
                office. Our solutions are product agnostic across the board and defined exclus ively by the unique goals
                of each client. Through our open platforms and vast network of providers, we are able to present highly flexible,adaptable
                solutions and customized pricing models. We educate our clients and empower them to make informed, discerning
                choices.
            </p> -->
        </div>
        <div class="d-flex">
            <div class="width-800">
                <div class="text-justify">
                    <h3>Wealth Management</h3>
                    <p>Individuals have varied financial aspirations that are often not well defined. At Sicomoro, we work with
                        clients in defining their financial goals and assist them to protect, grow and pass on /transfer
                        their private wealth. We provide clients with effective wealth structures and best suited investment
                        solutions.
                    </p>
                </div>
            </div>
            <div class="width-200">
                <img src="img/Products/product-circle.png" class="img-responsive">
            </div>
        </div>
        <div class="d-flex">
            <div class="width-200">
                <img src="img/Products/product-circle.png" class="img-responsive">
            </div>
            <div class="width-800">
                <div class="text-justify">
                    <h3>Family office</h3>
                    <p>The security of your legacy is our responsibility. Trust us with Strategic Planning and Tactical Execution
                        of Asset Allocation, Tax Advisory on Investments, Quarterly Assessment of Tax Incidence and planning
                        thereof. We also frame the Investment Policy and Yearly Review and evaluate the performance of advisors.
                        We assist you on Liquidity Planning for Major Financial Events as well as on Inheritance Planning,
                        including Preparation of Wills & Trust.Just like individuals, business families have specific needs
                        of managing the wealth created through entrepreneurial zeal and rigor. Sicomoro is a trusted partner
                        with whom entrepreneurs can build a strategy around their family wealth / Sicomoro is a trusted partner
                        with dedicated investment professionals acting as advisors and gatekeepers of family wealth. We provide
                        solutions for investment portfolio transition after a windfall, such as the sale of a business. Our
                        services encompass wide range of family business’s needs such as succession and estate planning,
                        philanthropy, tax and legal services. Our holistic approach aims to enable entrepreneur remain deeply
                        committed/focussed to their business as we help in effective management of their family assets.
                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="width-800">
                <div class="text-justify">
                    <h3>Customized Solutions</h3>
                    <p>Each client is unique and so our investment solutions are tailored to client’s needs. Our investment
                        approach starts with identifying client’s goals and risk tolerance, understanding their circumstances
                        like liquidity needs, investment horizon, etc. and developing personalised asset allocations. Once
                        the allocation is finalised, we offer investment vehicles/alternatives which are carefully selected
                        after a proper due diligence. To align with our client’s interest, the investment alternatives that
                        we propose does not include any proprietary products. We offer third party products of leading market
                        specialists. Today’s fast changing economic and financial landscape require us to continuously monitor
                        the investments and manage any necessary adjustments. At all times, we interact with the clients
                        and place a lot of thrust on portfolio review and reporting.
                    </p>
                </div>
            </div>
            <div class="width-200">
                <img src="img/Products/product-circle.png" class="img-responsive">
            </div>
        </div>
    </section>
</div>