<heading-first>
</heading-first>

<section>
    <div class="text-justify">
    </div>
    <div class="product-bg">
        <div class="container">
            <div class="d-flex align-item-center section-padding flex-reverse">
                <div class="width-80">
                    <div class="text-justify color-white">
                        <h3>Wealth Management</h3>
                    </div>
                </div>
                <div class="width-20 img-right-padding pointer-click" ng-click="productOpen('wealth');">
                    <img src="img/products- offerings /product-circle.png" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <div class="product-bg">
        <div class="container">
            <div class="d-flex align-item-center section-padding">
                <div class="width-20 img-left-padding pointer-click" ng-click="productOpen('Family');">
                    <img src="img/products- offerings /product-circle.png" class="img-responsive">
                </div>
                <div class="width-80">
                    <div class="text-justify color-white">
                        <h3>Family office</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-bg">
        <div class="container">
            <div class="d-flex align-item-center section-padding flex-reverse">
                <div class="width-80">
                    <div class="text-justify color-white">
                        <h3>Customized Solutions</h3>
                    </div>
                </div>
                <div class="width-20 img-right-padding pointer-click" ng-click="productOpen('Customized');">
                    <img src="img/products- offerings /product-circle.png" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>