//particle 
.home {
    .section {
        padding: 70px 0;
    }
    .section-one {
        overflow: hidden;
        .section-one-content {
            position: absolute;
            bottom: 150px;
            width: 100%;
            left: 0;
            z-index: 2;
            color: $color-white;
            .one-content-inside {
                width: 700px;

                h4 {
                    font-size: 34px;
                    font-family: 'Geometria-ExtraBold';
                }
            }
        }
        .img-back {
            position: absolute;
            top: 0;
            min-height: 100vh;
            z-index: 1;
            img {
                height: 100%;
            }
        }
    }



}

#particles-js {
    background: #000;
    min-height: 100vh;
}
