<div class="home">
    <!--section one-->
    <!--sections/main.html-->
    <section class="section-one min-full-height post-rel" ng-include="section.one">
    </section>
    <!--End section one-->
    <!--section two-->
    <!--sections/mission-vision.html-->
    <section class="section section-two post-rel min-full-height" ng-include="section.two">
    </section>
    <!--End section two-->
    <!--section three-->
    <!--sections/team.html-->
    <section class="section section-three post-rel min-full-height" ng-include="section.three">
    </section>
    <!--End section three-->
    <!--section four-->
    <!--sections/product-offering.html-->
    <section class="section section-four post-rel min-full-height" ng-include="section.four">
    </section>
    <!--End section four-->
</div>