<div class="home">
    <!--section one-->
    <section class="section-one min-full-height post-rel">
        <div id="particles-js">
        </div>
        <!--<div class="img-back">
            <img src="img/home/bg_team.png" alt="" class="img-responsive">
        </div>-->
        <div class="section-one-content">
            <div class="container">
                <div class="one-content-inside">
                    <h4>WE DON'T WAIT FOR OPPORTUNITIES;</h4>
                    <h4>WE CREATE THEM </h4>
                    <p>
                        We are a full-service, diversified wealth management platform operating across HNI, Family Office, Business and Investment
                        functions. Inspired by the biblical Sycamore tree, we focus on building and strengthening deep client
                        relationships, to envisage and accomplish a shared.
                    </p>
                    <a ui-sref="home" class="strike-anchor color-white">Read More</a>
                </div>
            </div>
        </div>
    </section>
    <!--End section one-->
    <!--section two-->
    <section class="section section-two post-rel min-full-height">
        <div class="bg-black">
            <div class="container">
                <div class="left-title color-white">
                    Mission &amp; Vision
                </div>
                <div class="section-padding">
                    <div class="section-two-content color-white">
                        <p> For us, creating value means nurturing client relationships. We believe a collaborative partnership
                            is the key driver of success. Our mission is to cultivate everlasting, fulfilling associations
                            with our clients, rooted in the values of synergy, integrity, diversity, humility and sustainability.
                        </p>
                    </div>
                    <div class="custom-tabs">
                        <uib-tabset>
                            <uib-tab index="0" heading="CLIENT FOCUS">
                                <div class="custom-tabs-content">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="title-tab">
                                                <h4 class="text-right">CLIENT FOCUS</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="img-holder">
                                                <figure>
                                                    <img src="img/home/home-circle.png" class="img-responsive" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-4 col-md-8">
                                            <div class="text-justify pad-cont">
                                                <p>
                                                    We collaborate with our clients and aspire to become a part of their thought process, in addition to being solution providers.
                                                    Our interest is aligned with that of our clients at all times. We am
                                                    driven not by products or transactions, but by our clients' aspirations,
                                                    and we promise to bring this shared vision to fruition.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="1" heading="INTEGRITY">
                                Long Labeled Justified content
                            </uib-tab>
                            <uib-tab index="2" heading="DIVERSITY">
                                Long Labeled Justified content
                            </uib-tab>
                            <uib-tab index="3" heading="HUMILITY">
                                Long Labeled Justified content
                            </uib-tab>
                            <uib-tab index="4" heading="GOAL DRIVEN">
                                Long Labeled Justified content
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End section two-->
    <!--section three-->
    <section class="section section-three post-rel min-full-height">
        <div class="bg-white">
            <div class="container">
                <div class="left-title color-black">
                    The Team
                </div>
                <div class="section-three-content">
                    <div class=" section-padding">
                        <p> Our team comprises of diverse individuals united by the common goal of maximizing value creation
                            and sustainable competitive advantage for clients.
                        </p>
                        <p class="bold">We transform your goals into reality. </p>
                    </div>
                    <div class="home-team">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="img-team">
                                    <figure>
                                        <img src="img/home/Pradeep-Dokania.png" class="img-responsive" alt="Pradeep Dokania">
                                        <fig-caption>
                                            <div class="team-name text-uppercase">
                                                Pradeep Dokania
                                                <div class="team-designation">
                                                    -Partner
                                                </div>
                                                <a ui-sref="team" class="strike-anchor color-black">Read More</a>
                                            </div>
                                        </fig-caption>
                                        </img>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="img-team">
                                    <figure><img src="img/home/Amit-Khandelwal.png" class="img-responsive" alt="Amit Khandelwal">
                                        <fig-caption>
                                            <div class="team-name text-uppercase">
                                                Amit Khandelwal
                                                <div class="team-designation">
                                                    -Partner
                                                </div>
                                                <a ui-sref="team" class="strike-anchor color-black">Read More</a>
                                            </div>
                                        </fig-caption>
                                        </img>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="img-team">
                                    <figure><img src="img/home/Rakesh-Bhatia.png" class="img-responsive" alt="Rakesh Bhatia">
                                        <fig-caption>
                                            <div class="team-name text-uppercase">
                                                Rakesh Bhatia
                                                <div class="team-designation">
                                                    -Partner
                                                </div>
                                                <a ui-sref="team" class="strike-anchor color-black">Read More</a>
                                            </div>
                                        </fig-caption>
                                        </img>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="img-team">
                                    <figure><img src="img/home/Nilesh-Ganjwala.png" class="img-responsive" alt="Nilesh Ganjwala">
                                        <fig-caption>
                                            <div class="team-name text-uppercase">
                                                Nilesh Ganjwala
                                                <div class="team-designation">
                                                    -Partner
                                                </div>
                                                <a ui-sref="team" class="strike-anchor color-black">Read More</a>
                                            </div>
                                        </fig-caption>
                                        </img>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End section three-->
    <!--section four-->
    <section class="section section-four post-rel min-full-height">
        <div class="bg-brow">
            <div class="container">
                <div class="left-title color-white">
                    Products &amp; Offerings
                </div>
                <div class="section-padding">
                    <div class="section-four-content">
                        <p class="color-white"> The scope of our offerings transcends the conventional definition of 'wealth management.' We provide
                            personalized, need-based services to ensure the sustained elevation and protection of our clients'
                            business and family office. Our solutions are product agnostic across the board and defined exclusively
                            by the unique goals of each client.
                        </p>
                    </div>
                    <div class="custom-tabs">
                        <uib-tabset>
                            <uib-tab index="0" heading="INVESTMENT FOCUS">
                                <div class="custom-tabs-content">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="title-tab">
                                                <h4 class="text-right">INVESTMENT FOCUS</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="img-holder">
                                                <figure>
                                                    <img src="img/home/investment_focus.png" class="img-responsive" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-4 col-md-8">
                                            <div class="text-justify pad-cont">
                                                <p>
                                                    We help you optimize investment opportunities and steer your course through dynamic market cycles. Our investment related
                                                    advisory services extend to Mutual Funds, PMS, Direct Equity Bond, Structured
                                                    Products, Offshore Investments, Private Investments Opportunity, ETF-based
                                                    Strategy and Retirement Planning. Besides traditional investments, we
                                                    also advise clients on Alternative Investments like Real Estate, Commodities
                                                    and Angel Funding Opportunity.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="1" heading="FAMILY FOCUS">
                                <div class="custom-tabs-content">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="title-tab">
                                                <h4 class="text-right">FAMILY FOCUS</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="img-holder">
                                                <figure>
                                                    <img src="img/home/investment_focus.png" class="img-responsive" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-4 col-md-8">
                                            <div class="text-justify pad-cont">
                                                <p>
                                                    We help you optimize investment opportunities and steer your course through dynamic market cycles. Our investment related
                                                    advisory services extend to Mutual Funds, PMS, Direct Equity Bond, Structured
                                                    Products, Offshore Investments, Private Investments Opportunity, ETF-based
                                                    Strategy and Retirement Planning. Besides traditional investments, we
                                                    also advise clients on Alternative Investments like Real Estate, Commodities
                                                    and Angel Funding Opportunity.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="2" heading="BUSINESS FOCUS">
                                <div class="custom-tabs-content">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="title-tab">
                                                <h4 class="text-right">BUSINESS FOCUS</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="img-holder">
                                                <figure>
                                                    <img src="img/home/investment_focus.png" class="img-responsive" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-4 col-md-8">
                                            <div class="text-justify pad-cont">
                                                <p>
                                                    We help you optimize investment opportunities and steer your course through dynamic market cycles. Our investment related
                                                    advisory services extend to Mutual Funds, PMS, Direct Equity Bond, Structured
                                                    Products, Offshore Investments, Private Investments Opportunity, ETF-based
                                                    Strategy and Retirement Planning. Besides traditional investments, we
                                                    also advise clients on Alternative Investments like Real Estate, Commodities
                                                    and Angel Funding Opportunity.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End section four-->
</div>