<div class="home">
    <!--section one-->
    <section class="section-one">
        <div class="bg-black">
            <div class="container">
                <div class="section-one-content">
                    <h4>WE DON'T WAIT FOR OPPORTUNITIES</h4>
                    <h4>WE CREATE THEM </h4>
                    <p> We are a full-service, diversified wealth management platform operating across HNI, Family Office, Business
                        and Investment functions. Inspired by the biblical Sycamore tree, we focus on building and strengthening
                        deep client relationships, to envisage and accomplish a shared </p>
                    <a href="">Read More</a>
                </div>
            </div>
        </div>
    </section>
    <!--End section one-->
    <!--section two-->
    <section class="section-two">
        <div class="bg-black">
            <div class="container">
                <div class="left-title color-white">
                    Mission & Vision
                </div>
                <div class="section-two-content">
                    <p> For us, creating value means nurturing client relationships. We believe a collaborative partnership is
                        the key driver of success. Our mission is to cultivate everlasting, fulfilling associations with
                        our clients, rooted in the values of synergy, integrity, diversity, humility and sustainability.
                    </p>
                </div>
                <div class="custom-tabs">
                    <uib-tabset active="activeJustified" justified="true">
                        <uib-tab index="0" heading="CLIENT FOCUS">
                            <div class="custom-tabs-content">
                                <h4>CLIENT FOCUS</h4>
                                <p>
                                    We collaborate with our clients and aspire to become a part of their thought process, in addition to being solution providers.
                                    Our interest is aligned with that of our clients at all times. We am driven not by products
                                    or transactions, but by our clients' aspirations, and we promise to bring this shared
                                    vision to fruition.
                                </p>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="INTEGRITY">
                            Long Labeled Justified content
                        </uib-tab>
                        <uib-tab index="2" heading="DIVERSITY">
                            Long Labeled Justified content
                        </uib-tab>
                        <uib-tab index="3" heading="HUMILITY">
                            Long Labeled Justified content
                        </uib-tab>
                        <uib-tab index="4" heading="GOAL DRIVEN">
                            Long Labeled Justified content
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </section>
    <!--End section two-->
    <!--section three-->
    <section class="section-three">
        <div class="bg-white">
            <div class="container">
                <div class="left-title color-black">
                    The Team
                </div>
                <div class="section-three-content">
                    <p> Our team comprises of diverse individuals united by the common goal of maximizing value creation and
                        sustainable competitive advantage for clients.
                    </p>
                    <p class="bold">We transform your goals into reality. </p>
                </div>
                <div class="home-team">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="img-team">
                                <figure><img src="" alt="">
                                    <fig-caption>
                                        <div class="team-name">
                                            <div class="team-designation">
                                                <a href="">Read More</a>
                                            </div>
                                        </div>
                                    </fig-caption>
                                    </img>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-team">
                                <figure><img src="" alt="">
                                    <fig-caption>
                                        <div class="team-name">
                                            <div class="team-designation">
                                                <a href="">Read More</a>
                                            </div>
                                        </div>
                                    </fig-caption>
                                    </img>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-team">
                                <figure><img src="" alt="">
                                    <fig-caption>
                                        <div class="team-name">
                                            <div class="team-designation">
                                                <a href="">Read More</a>
                                            </div>
                                        </div>
                                    </fig-caption>
                                    </img>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-team">
                                <figure><img src="" alt="">
                                    <fig-caption>
                                        <div class="team-name">
                                            <div class="team-designation">
                                                <a href="">Read More</a>
                                            </div>
                                        </div>
                                    </fig-caption>
                                    </img>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End section three-->
</div>