.address {
    flex: 0.3;
}

.address-line {
    padding: 30px 60px;
    a,
    p {
        font-size: 14px;
        font-family: 'Nunito';
        color: #000000;
    }
    h2 {
        font-family: 'Geometria-Bold';
        font-size: 35px;
        color: #000000;
    }
    h3 {
        font-family: 'Geometria-Medium';
    }
    span {
        font-weight: bold;
    }
}

.address-img {
    padding: 10px 0;
}

.map-contact {
    flex: 0.7;
    margin: 31px 0;
}