.about {
      background: url('../img/home/bg_team.png') no-repeat;
        background-size: cover;
    .section-one {
        // margin-bottom: -200px;
    }
    .img-holder {
        width: 100px    }
    .roots,
    .title-three-about {
        font-size: 40px;
        font-family: Geometria-ExtraBold;
        line-height: 1.2;
    }
    .roots {
        color: #aeaaa7;
        width: 60%;
    }
    .title-three-about {
        color: $color-brown;
    }
    .about-holder {
        padding: 50px 0;
        display: block;
        color: black;
        h4 {
            font-size: 22px;
            color: black;
            font-family: Nunito-SemiBold;
            &:hover {
                color: black;
                text-decoration: none;
            }
        }
    }
}