.about {
    background: url('../img/home/bg_team.png') no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    .section-one {
        // margin-bottom: -200px;
    }
    .img-holder {
        width: 130px
    }
    .roots,
    .title-three-about {
        font-size: 40px;
        font-family: Geometria-ExtraBold;
        line-height: 1.2;
    }
    .roots {
        color: #aeaaa7;
        width: 60%;
    }
    .title-three-about {
        color: #3a3a3a;
    }
    .about-holder {
        padding: 50px 0;
        display: block;
        color: #3a3a3a;
        h4 {
            font-size: 22px;
            color: #3a3a3a;
            font-family: Nunito-SemiBold;
            &:hover {
                color: #3a3a3a;
                text-decoration: none;
            }
        }
    }
}