<heading-first>
</heading-first>
<div class="about">
    <section class="section-one">
        <div class="container">
            <div class=" section-padding">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p>We are a private client services firm catering to HNIs, Family Offices, NRIs and Small and Medium
                            enterprises. We are guided by a professional team of leaders with strong domain knowledge and
                            expertise.
                        </p>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <p class="text-justify"> We stand for strong values, professionalism and client satisfaction. We maintain uncompromising levels
                            of integrity and transparency while keeping client goals as the highest priority at all times.
                            We assure you, your relationship with us will be a rewarding experience.</p>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="img-holder">
                            <figure>
                                <img src="img/about/tree_root.svg" class="img-full">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-two">
        <div class="bg-brown">
            <div class="container">
                <div class=" section-padding">
                    <div>
                        <div class="roots mb-20 text-uppercase">
                            We are here to put down our roots with yours.
                        </div>
                        <!--<div class="roots text-uppercase">
                            Ethos of our Name
                        </div>-->
                        <p class="color-white">Sicomoro, the Spanish word for Sycamore, is a beautiful large-leaved tree that symbolises protection,
                            longevity, and strength. We work with our clients with similar characteristics. Our strength
                            lies in the depth of our roots, the cumulative experience of our Leaders and the diverse offerings
                            of our company, and we remain connected with our clients as their trusted advisors with long
                            lasting relationships.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-three">
        <div class="container">
            <div class=" section-padding">
                <div class="text-uppercase  title-three-about mb-20">
                    Sicomoro is A niche private client services firm focussed on
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <a class="about-holder" ui-sref="product"> 
                            <div class="icon-holder">
                                <figure>
                                    <img src="img/about/wealth_solutions.png" class="img-responsive img-auto">
                                </figure>
                            </div>
                            <div class="text-center text-uppercase">
                                <h4>wealth<br>solutions</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a class="about-holder" ui-sref="product">
                            <div class="icon-holder">
                                <figure>
                                    <img src="img/about/family_office.png" class="img-responsive img-auto">
                                </figure>
                            </div>
                            <div class="text-center text-uppercase">
                                <h4>family<br> office</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a class="about-holder" ui-sref="product">
                            <div class="icon-holder">
                                <figure>
                                    <img src="img/about/customised_solutions.png" class="img-responsive img-auto">
                                </figure>
                            </div>
                            <div class="text-center text-uppercase">
                                <h4>customised <br>solutions</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>