<div class="container">
    <section>
        <heading>
        </heading>
        <div class="row">
            <div class="col-md-8">
                <p>We are a private client services firm catering to HNIs, Family Offices, NRIs and Small and Medium enterprises.
                    We are guided by a professional team of leaders with strong domain knowledge and expertise.</p>
                <p> We stand for strong values, professionalism and client satisfaction. We maintain uncompromising levels of
                    integrity and transparency while keeping client goals as the highest priority at all times. We assure
                    you, your relationship with us will be a rewarding experience.</p>
            </div>
            <div class="col-md-4">
                <img src="img/About/tree_root.svg" class="img-responsive">
            </div>
        </div>
    </section>

</div>
<section>
    <div class="">
        <div class="container">
            <div class="">
                <div class="">
                    <h1>Ethos of our Name</h1>
                </div>
                <p>Sicomoro, the Spanish word for Sycamore, is a beautiful large-leaved tree that symbolises protection, longevity,
                    and strength. We work with our clients with similar characteristics. Our strength lies in the depth of
                    our roots, the cumulative experience of our Leaders and the diverse offerings of our company, and we
                    remain connected with our clients as their trusted advisors with long lasting relationships.</p>
            </div>
        </div>
    </div>

</section>
<section>
    <div class="container">
        <div class="">
            <h1>Sicomoro is A niche private client services firm focussed on</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="">
                    <img src="img/About/wealth_solutions.png" class="img-responsive">
                </div>
                <div class="text-center text-uppercase">
                    <p>wealth<br>solutions</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="">
                    <img src="img/About/family_office.png" class="img-responsive">
                </div>
                <div class="text-center text-uppercase">
                    <p>family<br> office</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="">
                    <img src="img/About/customised_solutions.png" class="img-responsive">
                </div>
                <div class="text-center text-uppercase">
                    <p>customised <br>solutions</p>
                </div>
            </div>
        </div>
    </div>
</section>